parameters:
    database_host: mysql
    database_port: 3306
    database_name: fulfillment
    database_user: fulfiller
    database_password: fulfiller
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    secret:            ThisTokenIsNotSoSecretChangeIt
